h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
}

form{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 20px;
    border: 1px solid #3c64c3;
    border-radius: 10px;
    background-color: #f9faff;
}


button{
    margin-right: auto;
    margin-left: auto;
}

label, input, select{
    margin-top: 5px;
}

#death-inputs{
    display: none
}

label{
    width: 200px;
}

input, select{
    border-color: #3c64c3;
    border-radius: 15px;
    padding: 10px;
}

select{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

input:focus, select:focus{
    border-color: red;
    border-radius: 15px;
    outline: none;
}
