h2{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
}

div#info{
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    padding: 10px;
}

main{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #3c64c3;
    border-radius: 10px;
    background-color: #f9faff;
    min-height: 50vh;
}