body{
    background-color: #ffffff;
}

nav.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #034da3;
}

nav.head h1{
    text-align: center;
    color: white;
    font-size: xx-large;
}


h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
}



div.menu{
    background-color: white;
    padding: 5px;

    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
}

.wrapper{
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#a-wrapper{
    text-align: right;
    display: inline;
    float: right;
    margin-top: 15px;
}

#a-wrapper span{
    vertical-align: bottom;
    margin-top: auto;
    margin-bottom: 0;
    margin-right: 20px;

}

#image-wrapper{
    text-align: left;
    display: inline;
}


div.menu div.wrapper span a:hover{
    color: red;
    cursor: pointer;
}

div.menu a{
    text-decoration: none;
    color: gray;
    font-size: x-large;
}

main{
    margin-top: 160px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

#emblem{
    height: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 400px) {
    nav.head h1{
        text-align: center;
        color: white;
        font-size: x-large;
    }

}

.active-menu{

}

.active-menu a{
    font-weight: bold;
    color: black !important;
}

.active-menu:hover a{
    color: red !important;
}

#a-wrapper span a{
    transition: all 0.5s;
}


div.top{
    max-width: 700px;
}

em.bold{
    font-weight: bold;
}

em.bold:after{
    content: " ";
}

#button-wrapper{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#button-wrapper form{
    display: inline;
    padding: 0;
}

button{
    border-radius: 7px;
    padding: 7px;
    background-color:#3c64c3;
    color: white;
    transition: all 0.4s;
}

button:hover{
    cursor: pointer;
    background-color: red ;
}

div#icon-wrapper{
    width: 100%;
    text-align: center;
}

i.fa-check-circle{
    color: #3c64c3;
}

i.fa-times-circle{
    color: red;
}