table,th,td{
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

th, td{
    padding: 10px;
}


th{
    background-color: #3c64c3;
    color: white;
}

tr:first-child th:first-child{
    border-top-left-radius: 15px;
}

tr:first-child th:last-child{
    border-top-right-radius: 15px;
}

tr:nth-child(odd){
    background-color: #f1f1f1;
}

tr:nth-child(even){
    background-color: white;
}


tr:hover{
    cursor: default;
}

tr:hover{
    background-color: #c9d7ff;
}

a.surname, a.name{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

a.surname:hover, a.name:hover{
  color: red;
}


i::before{
    content: " ";
}

.ordering{
    cursor: pointer;
    transition: all 0.5s;
}

.ordering:hover{
    color: #ffabab;
}

.fa-edit{
    text-decoration: none;
    color: #034da3;
}

.fa-trash-alt{
    text-decoration: none;
    color: red;
}

.fa-edit, .fa-trash-alt{
    transition: all 0.5s;
}

.fa-edit:hover, .fa-trash-alt:hover{
    transform: scale(1.2);
}
